.mtte .main {
  margin-bottom: 20px;
}

.mtte .error {
  color: darkred;
  padding: 10px;
}

.mtte .module {
  width: 40%;
}

.mtte img.button {
  width: 100px;
  border: 0px;
  cursor: pointer;
}

.mtte img.button {
  width: 100px;
  border: 0px;
  cursor: pointer;
}

.mtte img.button:hover {
  opacity: 50%;
}

.mtte .preview {
  margin-left: 4px;
  cursor: pointer;
}

.mtte .list {
  height: 600px;
  overflow-y: scroll;
  margin-top: 5px;
}

.mtte .logo {
  float: left;
  padding-right: 10px;
  padding-bottom: 5px;
  border: 0px;
}

.mtte .description {
  font-style: italic;
}

.mtte input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 1px 3px;
}

.mtte .list .pack.header {
  background-color: #333;
  color: #eee;
}

.mtte .transl { 
  width: 550px;
}

.mtte .audio {
  width: 250px;
}

.mtte .audioSource {
  width: 350px;
}

.mtte .sound-volume {
  width: 100px;
  margin-right: 10px;
}

.mtte .sound-control {
  margin-right: 10px;
}

.mtte .color {
  margin-left: 7px;
  width: 70px;
}

.mtte .sound-control.inactive {
  color: #777;
}

.mtte .info {
  text-align: center;
}

.mtte .option {
  display: inline;
}

.mtte .actions, .mtte .slots {
  display: flex;
}

.mtte .messagebox {
  display: inline;
  margin-left: 10px;
  visibility: hidden;
}

.mtte .messagebox i {
  margin-right: 5px;
}

.mtte .messagebox.error {
  color: darkred;
}

.mtte .messagebox.success {
  color: darkgreen;
}

.mtte .agree {
  line-height: 16px;
  font-size: smaller;
  text-align: justify;
}

.mtte .tabs {
  border-bottom: 1px solid #000;
  margin-bottom: 15px;
  font-size: large;
}

.mtte button.search {
  max-width: 30px;
  margin-left: 5px;
}

.mtte .searchinput {
  width: 350px;
}

.mttedialog.listPacks th {
  text-align: left;
}

.mttedialog.listPacks td, .mttedialog.listPacks th {
  padding-right: 20px;
}

.mttedialog.listPacks td.num, .mttedialog.listPacks th.num {
  text-align: right;
}


.moulinette-options {
    box-sizing: content-box;
    font-size: 18px;
    line-height: 36px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px #000;
    color: #BBB;
    border: 1px solid #000;
    border-radius: 5px;
    z-index: 30;
}

.moulinette-options ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.moulinette-options .lastcol {
    border-right: none;
}

.moulinette-options .title {
    width: 160px;
    border-bottom: 1px solid #333;
    text-align: left;
}

.moulinette-options li {
    display: inline-block;
    width: 48px;
    text-align: center;
    padding: 5px;
    border-right: 1px solid #333;
    border-top: 1px solid #333;
    height: 48px;
    cursor: pointer;
    overflow: hidden;
}

.moulinette-options li:hover {
    color: #FFF;
    border: 1px solid red;
    border-bottom: 1px solid #ff6400;
    box-shadow: 0 0 10px #ff6400;
}

.moulinette-options li i {
    font-size: 24px;
    vertical-align: middle;
}

.mtte button.selected {
  font-weight: bold;
  font-size: large;
  border: 2px solid red;
  border-bottom: 2px solid #ff6400;
  box-shadow: 0 0 10px #ff6400;
}

.mtte button.slot {
  overflow: hidden;
  max-height: 34px;
}

.mtte button img, .mtte button i {
  vertical-align: middle;
}

.mtte .specialSearch {
  display: none;
  font-style: italic;
  color: darkred;
}

