/* Fix for module Ernie's modern UI */
.mtte .window-content {
  display: flex !important;
}

#moulinette.forge .body {
  position: relative;
  height: 100%;
  overflow: hidden;
}

#moulinette.forge .list .creator {
  display: inline;
  margin-right: 10px;
  font-weight: bold;
}

#moulinette.forge .list .pack {
  display: inline;
  margin-right: 10px;
  font-size: smaller;
}

#moulinette.forge .list .path {
  display: inline;
  font-size: small;
}

#moulinette.forge .header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 75px;
  width: 100%;
}

#moulinette.forge .list {
  height: auto;
  position: absolute;
  top: 75px;
  bottom: 35px;
  left: 0px;
  overflow-y: auto;
  width: 100%;
  margin-bottom: 0px;
}

#moulinette.forge.compact .list {
  bottom: 120px;
}

#moulinette.forge .footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 5px;
  padding-right: 15px;
  background: url(../../ui/parchment.jpg) repeat;
  display: none;
}

#moulinette.forge .modulefooter {
  position: absolute;
  bottom: 0px;
  left: 28px;
  width: 100%;
  padding: 5px 45px 0px 5px;
  border-top: 1px solid var(--color-border-light-tertiary);
}

#moulinette.forge .footerToggle {
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-size: 22px;
}

#moulinette.forge footer {
  margin-bottom: 5px;
}

#moulinette.forge .plist {
  max-width: 250px;
}

.mtte .main {
  margin-bottom: 20px;
}

.mtte .error {
  color: darkred;
  padding: 10px;
}

.mtte li.error {
  color: darkred;
  padding: 0px;
}

.mtte .continue {
  display: none;
}

.mtte .module {
  margin: 5px;
  width: 45%;
  display: inline-block;
  text-align: center;
}

.mtte .module.desc {
  text-align: left;
}

.mtte img.button {
  width: 100px;
  border: 0px;
  cursor: pointer;
}

.mtte img.button {
  width: 100px;
  border: 0px;
  cursor: pointer;
}

.mtte img.button:hover {
  opacity: 50%;
}

.mtte .logo {
  float: left;
  padding-right: 10px;
  padding-bottom: 5px;
  border: 0px;
}

.mtte .description {
  font-style: italic;
}

.mtte input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 1px 3px;
}

.mtte .list .pack.header {
  background-color: #333;
  color: #eee;
}

.mtte .info {
  text-align: center;
}

.mtte .option {
  display: inline;
}

.mtte .actions {
  display: flex;
}

.mtte .tabs {
  border-bottom: 1px solid #000;
  margin-bottom: 8px;
  font-size: large;
}

.mtte button.search {
  max-width: 27px;
  max-height: 27px;
  margin-left: 5px;
  font-size: 12px;
}

.mtte button.hidefooter {
  max-width: 30px;
}

.mtte .fvtt-picker {
  max-width: 30px;
  margin-right: 5px;
  font-size: 18px;
  cursor: pointer;
}

.mtte .searchinput {
  width: 350px;
}

/** Controls (top left) **/

.moulinette-options {
    box-sizing: content-box;
    font-size: 18px;
    line-height: 36px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px #000;
    color: #BBB;
    border: 1px solid #000;
    border-radius: 5px;
    z-index: 30;
    position: absolute;
}

.moulinette-options ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.moulinette-options .lastcol {
    border-right: none;
}

.moulinette-options .title {
    width: 160px;
    border-bottom: 1px solid #333;
    text-align: left;
}

.moulinette-options li {
    display: inline-block;
    width: 48px;
    text-align: center;
    padding: 5px;
    border-right: 1px solid #333;
    border-top: 1px solid #333;
    height: 48px;
    cursor: pointer;
    overflow: hidden;
    pointer-events: all;
}

.moulinette-options li:hover {
    color: #FFF;
    border: 1px solid red;
    border-bottom: 1px solid #ff6400;
    box-shadow: 0 0 10px #ff6400;
}

.moulinette-options li i {
    font-size: 24px;
    vertical-align: middle;
}

.mtte .red {
  color: red;
}

.mtte .sOptions {
  max-width: 18px;
  margin-left: 2px;
  margin-top: 2px;
}

.mtte .sOptions a {
  margin: 0 3px;
  border-radius: 5px;
}

.mtte .sOptions a.active {
  text-shadow: 0 0 6px red;
}

.mtte .shortcuts {
  max-width: 18px;
  margin-left: 5px;
  margin-top: 2px;
}

.mtte .filepicker {
  max-width: 90px;
  margin-left: 5px;
}

.mtte .thumbsizes {
  max-width: 44px;
  margin-left: 12px;
  font-size: 18px;
}

.mtte .filters {
  max-width: 18px;
  margin-left: 12px;
  font-size: 18px;
  margin-right: 2px;
}

.mtte .filters a.enabled {
  color: red;
}

.mtte .filterOption {
  display: flex;
  height: 22px;
  font-size: 14px;
}

.moulinette-options .active {
  color: #FFF;
  border: 1px solid red;
  border-bottom: 1px solid #ff6400;
  box-shadow: 0 0 10px #ff6400;
}

.mtte .expand {
  cursor: pointer;
}

.mtte.help .descr {
  font-style: italic;
  border-top: 1px dashed #999;
  border-bottom: 1px dashed #999;
  padding: 6px;
  color: #999;
}

.mtte.help .content a {
  color: var(--color-text-hyperlink);
}

.mtte.help h1 {
  margin-top: 20px;
  cursor: pointer
}

.mtte.help .section, .mtte.help .copymsg {
  display: none;
}

.mtte.help pre {
  display: inline;
}

.mtte.help .control {
  width: 24px;
  height: 24px;
  box-sizing: content-box;
  font-size: 16px;
  line-height: 24px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px var(--color-shadow-dark);
  color: var(--color-text-light-4);
  text-align: center;
  border: 1px solid var(--color-border-dark);
  border-radius: 3px;
  display: inline-block;
}

#moulinette-sources .body {
  position: relative;
  height: 100%;
  overflow: hidden;
}

#moulinette-sources .header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 55px;
  overflow: hidden;
  width: 100%;
}

#moulinette-sources .main {
  display: flex;
  position: absolute;
  top: 55px;
  bottom: 75px;
  left: 0px;
  overflow-y: auto;
  width: 100%;
  margin-bottom: 0px;
}

#moulinette-sources .main table {
  height: fit-content;
}

#moulinette-sources .footer {
  position: absolute;
  bottom: 0px;
  height: 75px;
  left: 0px;
  width: 100%;
  overflow: hidden;
  padding: 5px;
  padding-right: 15px;
}

.mtte .sources {
  width: 100%;
}

.mtte .exports {
  display: flex;
}

.mtte .sources tr:hover {
  background-color: darkgrey;
}

.mtte .sources td, .mtte .sources th  {
  display: table-cell;
  padding: 2px 5px;
  text-align: left;
}

.mtte.sources .actions {
  align-items: center;
}

.mtte.sources .update {
  display: none
}

.mtte .actions label {
  padding: 0px 3px 0px 10px;
  font-weight: bold;
}

.mtte .actions label.cb {
  padding-left: 0px;
}

.mtte .actions .creatorPack {
  display: flex;
  align-items: center;
  min-width: 320px;
  max-width: 320px;
}

.mtte .actions .creatorPack.descr {
  display: block;
  text-align: right;
  font-style: italic;
  padding: 0px 10px 0px 3px;
}

.mtte .actions button {
  margin-left: 10px;
}

.mtte .actions button.browse {
  width: 520px;
}

.mtte.sources .inactive {
  color: darkred;
}

.mtte.sources .actions a {
  margin-left: 3px;
}

.mtte .showcase {
  display: none;
  background: url(../../ui/parchment.jpg) repeat;
  font-style: italic;
  font-size: small;
  padding: 5px;
  border: 4px solid darkred;
  position: absolute;
  bottom: 32px;
  width: 100%;
}

.showcase.clickable {
  cursor: pointer;
}

.mtte .dragMacro {
  border: 0;
  cursor: grab;
  margin: 0px 5px;
}

.mtte .inprogress {
  border: 3px dashed darkred;
  color: darkred;
}

.mtte img.mttespinner {
  height: 32px;
  border: 0px;
}

#moulinette .search {
  align-items: start;
}

#moulinette-available .main {
  position: relative;
  height: 100%;
  overflow: hidden;
}

#moulinette-available .infos {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 25px;
  overflow: hidden;
}

#moulinette-available .list {
  height: auto;
  position: absolute;
  top: 25px;
  bottom: 0px;
  left: 0px;
  overflow-y: auto;
  width: 100%;
  margin-bottom: 0px;
}

#moulinette-available .sound {
  cursor: pointer;
}

#moulinette-availableresult .sound .icon {
  font-size: 64px;
  margin: 15px;
  color: #777;
}

#moulinette-available .sound-controls {
  visibility: visible;
}

.mtte .tooltip-authentication {
  position: absolute;
  color: #777;
  font-style: italic;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 200px;
  height: 200px;
  text-align: center;
}

.mtte .tooltip-authentication .status {
  font-size: 42px;
  margin-bottom: 15px;
}

.mtte .tooltip-indexing {
  color: #777;
  font-style: italic;
  position: absolute;
  left: 0;
  bottom: 0;
}

/** Inspired by: https://css-tricks.com/examples/LongDropdowns/# **/

.filterCombo {
  margin: 0px 5px;
}

/*
	LEVEL ONE
*/
ul.filterList             { list-style: none; position: relative; width: 100%; margin: 0; padding: 1px 3px; max-width: 255px; }
ul.filterList li          { float: left; width: 250px; position: relative; }
ul.filterList li.top      { border: 1px solid var(--color-border-light-tertiary); border-radius: 3px; background: rgba(0, 0, 0, 0.02); }
ul.filterList a:hover     { color: #000; }
ul.filterList li a        { text-decoration: none; display: block; padding: 2px 8px; position: relative; z-index: 2000; }
ul.filterList li a:hover,
ul.filterList li a.hover  { background: #F3D673; position: relative; }

/*
	LEVEL TWO
*/
ul.filterList ul            { list-style: none; display: none; position: absolute; top: 0; left: 0; width: 250px; z-index: 1000; padding: 0px; margin: 0px; }
ul.filterList ul li         { color: #000; border-bottom: 1px solid #ccc; }
ul.filterList ul li a       { display: block; padding: 20px 8px; background: #D6D4C8 !important; }
ul.filterList ul li a:hover { display: block; background: #F3D673 !important; }
ul.filterList ul li.filler  { height: 300px; background: #D6D4C8 !important; }

.mtte .cloud          { color: #f79007; }
.mtte .cloud.contrast { color: brown; }
