<form autocomplete="off" onsubmit="event.preventDefault();">
  <div class="main">
    <div class="infos">
      Source: <a href="https://assets.moulinette.cloud/marketplace" target="_blank">Mouliplace</a> (Moulinette Marketplace).
    </div>
    <div class="list">
      {{#each assets as |a|}}{{{a}}}{{/each}}
    </div>
  </div>
</form>
