<form autocomplete="off" onsubmit="event.preventDefault();">
  <audio id="availablePreview" style="display: none">
    <source src="{{previewSoundURL}}" type="audio/ogg">
    Your browser does not support the audio element.
  </audio>
  <div class="main">
    <div class="infos">
      Source: <a href="https://assets.moulinette.cloud/marketplace" target="_blank">Mouliplace</a> (Moulinette Marketplace).
    </div>
    <div class="list">
      {{#each assets as |a|}}{{{a}}}{{/each}}
    </div>
  </div>
</form>
