<form autocomplete="off" onsubmit="event.preventDefault();">
  <h2>About Moulinette Board</h2>
  <p>This module offers great flexibility for managing shortcuts for all sorts of needs.</p>
  <p>This feature is currently in development. Documentation will be available soon.</p>
  <hr>
  <div class="exports">
    <button class="export"><i class="fas fa-file-export"></i> {{localize "mtte.boardExport"}}</button>
    <button class="import"><i class="fas fa-file-import"></i> {{localize "mtte.boardImport"}}</button>
  </div>
</form>
