<form autocomplete="off" onsubmit="event.preventDefault();">
  <h2>About Moulinette Board</h2>
  <p>This module offers great flexibility for managing shortcuts for all sorts of needs. Check out the module page (URL to come) for more details.</p>
  <hr>
  <h3>Export / Import</h3>
  <p><em>Not yet implemented...</em></p>
</form>
