<form autocomplete="off" onsubmit="event.preventDefault();">

  <p>{{localize "mtte.giftWelcome"}}</p>
  <p>
    <input id="coupon" type="text" placeholder="{{localize "mtte.pasteCouponHere"}}"></input>
  </p>
  <footer>
  <p>
    <button class="apply"><i class="fas fa-gift"></i> {{localize "mtte.apply"}}</button>
  </p>
  <footer>
</form>
