<form autocomplete="off" onsubmit="event.preventDefault();">
  <p>{{localize "mtte.patreonWelcome"}}</p>
  <div class="module">
    <p><a href="{{url}}" target="_blank"><i class="fab fa-patreon fa-5x"></i></a></p>
  </div>
  <div class="module">
    <p><== Click on the Patreon logo to link</p>
  </div>
  <p><em>
    <a href="https://github.com/SvenWerlen/moulinette-core">{{localize "mtte.seeDoc"}}</a> {{localize "mtte.learnMore"}}
  </em></p>
  
</form>
